<div class="dropdown-field" (mouseleave)="close()">
    <div class="dropdown-label" type="button" (click)="toggle()">
        <span>{{ label() }}</span>
        <span class="arrow" [class.open]="isOpen()">
            <app-icon name="chevron-down" [size]="20"/>
        </span>
    </div>

    @if (isOpen()) {
        <ul class="dropdown-menu">
            @for (option of options(); track option.label) {
                <li class="dropdown-item" (click)="selectOption(option)">
                    {{ option.label }}
                </li>
            }
        </ul>
    }
</div>
