@use 'variables' as *;

.categories-listing-container {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        border-bottom: 1px solid $grey-light-2;
    }

    .title {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: $main-font-color;
    }
}
