@use 'variables' as *;

.layout-container {
    display: flex;
    width: 100%;
    min-height: 100%;
}

.sidebar {
    width: 300px;
    padding: 20px;
    border-right: 1px solid $grey-light-2;
}

.content {
    flex: 1;
    margin: 20px;
}
