$grey-light: #f2f2f2;
$grey-light-2: #dbdbdb;
$grey: #adadad;
$primary-color: #722ed0;
$primary-dark-color: #480c9c;

$main-font-color: #272727;

$input-background-color: #fafafa;
$input-radius: 4px;
$input-border-color: $grey;

$shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;

