<div class="wyswig-container">
    @if (label()) {
        <label class="label-field">{{ label() }}</label>
    }

    <div class="wyswig-field">
        <div class="toolbar">
            <button type="button" (click)="executeCommand('bold')" title="Bold">
                <b style="font-family: serif">B</b>
            </button>
            <button type="button" (click)="executeCommand('italic')" title="Italic">
                <i style="font-family: serif">I</i>
            </button>
            <button type="button" (click)="executeCommand('underline')" title="Underline">
                <u style="font-family: serif">U</u>
            </button>

            <div class="divider"></div>

            <button type="button" (click)="executeCommand('justifyLeft')" title="Align Left">
                L
            </button>
            <button type="button" (click)="executeCommand('justifyCenter')" title="Align Center">
                C
            </button>
            <button type="button" (click)="executeCommand('justifyRight')" title="Align Right">
                R
            </button>

            <div class="divider"></div>

            <select (change)="changeFontSize($any($event.target).value)" title="Font Size">
                <option value="1">Small</option>
                <option value="3" selected>Normal</option>
                <option value="5">Large</option>
                <option value="7">Huge</option>
            </select>
        </div>

        <div
            class="editor"
            contenteditable="true"
            [attr.placeholder]="placeholder()"
            (input)="value.set($any($event.target).innerHTML)"
            (blur)="value.set($any($event.target).innerHTML)"
        ></div>
    </div>
</div>
