@use 'styles/variables' as *;
@use 'styles/fields' as *;
@use 'styles/listing' as *;
@use 'styles/editor' as *;

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

body.popup-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0px);
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Manrope',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $grey-light;
    font-family: 'Roboto', sans-serif;
    color: $main-font-color;
    font-size: 14px;

    * {
        box-sizing: border-box;
    }

    a {
        color: $main-font-color;
    }
}

.icon {
    width: 1em;
    height: 1em;
    color: currentColor;
    display: inline-block;
}

.tabs {
    display: flex;
    gap: 20px;

    &.top-line {
        > div {
            border-bottom: 5px solid transparent !important;

            &.is-active {
                border-top-color: $primary-color !important;
            }

            &:hover {
                border-top-color: $grey-light-2;
            }
        }
    }

    > div {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 50px;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        cursor: pointer;

        .tag {
            display: block;
            padding: 4px 6px;
            color: #ffffff;
            border-radius: 4px;
                background: $primary-color;
        }

        &.is-active {
            border-bottom-color: $primary-color;
        }

        &:hover {
            border-bottom-color: $grey-light-2;
        }
    }
}

.popup-body {
    .tabs {
        padding: 0 20px;
        background: linear-gradient(to top, rgba(255, 255, 255, .4), rgba(255, 255, 255, 1));
        position: sticky;
        top: 0;
    }
}
